matplotlib
pandas
scikit-learn
seaborn
xgboost
#Below are the requirements for AutoGluon
autogluon.tabular
autogluon.tabular[lightgbm]==1.0.0
ray==2.6.3
autogluon.tabular[fastai]==1.0.0
catboost